<footer id="join">
	<div>Evex Developers</div>
	<div>EST 2024</div>
</footer>

<style>
	footer {
		padding: 60px;
		border-top: 1px solid var(--border);
		display: flex;
		justify-content: space-between;
		font-family: var(--mono);
		font-size: 10px;
		color: var(--muted);
		text-transform: uppercase;
		letter-spacing: 2px;
	}
</style>
